<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".BusinessApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Business_Android"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.login.UpdateLoginPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.ChangeUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.RealNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.BankCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.BalanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.subAccount.SubAccountManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.discounts.DiscountsManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.staff.StaffManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.OrderManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.ShopManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.ResetLoginPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginForPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginForPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>