<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Android 13版本适配，细化存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- picture_selector，Android 11 使用相机需要添加 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".BusinessApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Business_Android"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.shop.ShopPaySettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DropperAllocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DropperAddSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DropperTemperatureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DropperVoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.notice.NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.notice.NoticeCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.notice.NoticeManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceBatchStartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceBatchUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.statistics.DataStatisticsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.AppointmentOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.message.MessageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.message.MessageListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.message.MessageCenterActivity"
            android:exported="false" />
        <activity
            android:name=".web.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRefundRecordDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRechargeRecycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRechargeAccountDetailListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinSchemeConfigsCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinSchemeConfigsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRefundRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRechargeAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinSchemeConfigsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRechargeListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.recharge.HaiXinRechargeConfigsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.VersionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.RechargeSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.RechargeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.WithdrawDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.WithdrawRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.WithdrawBindAlipayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.WalletWithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.common.UpdateValueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.EarningsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.IncomeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.subAccount.SubAccountSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.subAccount.SubAccountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.subAccount.SubAccountCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.discounts.DiscountsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.discounts.DiscountsCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.staff.StaffPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.staff.StaffDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.staff.StaffCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.OrderCompensateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceAdvancedSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceAdvancedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DevicePayCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceMultiChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceStartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.common.SearchActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.device.DeviceFunctionConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceDrinkingFunctionConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.common.CustomCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceModelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.common.SearchSelectRadioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.ShopAppointmentSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.ShopDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.LocationSelectForTMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.LocationSelectForAMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.common.SearchSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.ShopCreateAndUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.UpdateLoginPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.login.ChangeUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.RealNameAuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.BankCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.BalanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.personal.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.subAccount.SubAccountManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.discounts.DiscountsManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.staff.StaffManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.OrderManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.shop.ShopManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.device.DeviceManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.ResetLoginPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.login.LoginForPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginForPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5f90ead1c370be414645533daa7ae38a" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="BOOBZ-ISOKZ-TXYX2-TNK3M-J7TVT-SYF4H" />
    </application>

</manifest>